<div class="twelve columns nav mobile_hidden">
  <div class="social-nav">
    <div class="alpha eight columns">
      <ul class="menu">
        <li>
          <a href="/collections/baby-swaddles-and-sleep-sacks" title="Shop v2" class="top-link sub-menu">Shop</a>
          <div class="dropdown dropdown-wide">
            <ul>
              <li><a href="/collections/swaddle" title="Swaddles">Swaddles</a></li>
              <li><a class="sub-link" href="/products/swaddle-preemie" title="Preemies">Preemies</a></li>
              <li><a class="sub-link" href="/products/swaddle" title="0-3 Months">Newborn</a></li>
              <li><a class="sub-link" href="/products/package-of-little-lotus-swaddle-sleeping-bag-combo-1-swaddle-1-sleeping-bag-1" title="See Bundle Option">See Bundle Options</a></li>
            </ul>
            <ul>
              <li><a href="/collections/sleeping-bags" title="Sleeping Bags">Sleeping Bags</a></li>
              <li><a class="sub-link" href="/products/sleeping-bag-small" title="3-6 Months">3-6 Months</a></li>
              <li><a class="sub-link" href="/products/sleeping-bag-medium" title="6-12 Months">6-12 Months</a></li>
              <li><a class="sub-link" href="/products/sleeping-bag-large" title="12-18 Months">12-18 Months</a></li>
              <li><a class="sub-link" href="/collections/combos" title="See Bundle Option">See Bundle Options</a></li>
            </ul>
            <ul>
              <li><a href="/collections/baby-swaddles-and-sleep-sacks" title="Bundles">Bundles</a></li>
              <li><a class="sub-link" href="products/package-of-little-lotus-swaddle-sleeping-bag-combo-1-swaddle-1-sleeping-bag-1?variant=11290032902" title="Swaddle &amp; Sleeping Bags">Swaddle &amp; Sleeping Bags</a></li>
              <li><a class="sub-link" href="/collections/combos" title="Sleeping Bags">Sleeping Bags</a></li>
            </ul>
            <ul>
              <li><a href="/collections/cozy-blanket" title="Accessories">Accessories</a></li>
              <li><a class="sub-link" href="/products/little-lotus-cozy-blanket" title="Blanket">Blanket</a></li>
              <li><a href="/pages/gift" title="Gifting">Gifting</a></li>
              <li><a class="sub-link" href="/pages/baby-registry" title="Baby Registry">Baby Registry</a></li>
            </ul>
          </div>
        </li>
        <li><a href="/pages/technology" title="Our Technology" class="top-link ">Our Technology</a></li>
        <li><a href="/pages/about-us" title="Our Mission" class="top-link ">Our Mission</a></li>
      </ul>
      {% comment %}
      <ul class="menu">
        {% for link in linklists[settings.main_linklist].links %}
          {% if linklists[link.handle] == empty %}
            <li><a href="{{ link.url }}" title="{{ link.title }}" class="top-link {% if link.active %}active{% endif %}">{{ link.title }}</a></li>
          {% else %}

              Find out how many sub-links there are total in order to determine if the drop down should be split.
            {% assign count = 0 %}
            {% for link in linklists[link.handle].links %}
              {% capture count %}{{ count }}*{% endcapture %}
              {% if linklists[link.handle] != empty %}
                {% for link in linklists[link.handle].links %}
                  {% capture count %}{{ count }}*{% endcapture %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            {% assign column_threshold = settings.dropdown_column_links | minus: 0 %}

            <li><a href="{{ link.url }}" title="{{ link.title }}" class="sub-menu {% if link.active %}active{% endif %} {% for link in linklists[link.handle].links %}{% for l in linklists[link.handle].links %} {% if l.active %}active{% endif %}{% endfor %}{% if link.active %}active{% endif %}{% endfor %}">{{ link.title }}
              <span class="arrow">▾</span></a>
              <div class="dropdown {% if count.size > column_threshold %}dropdown-wide{% endif %}">
                <ul>
                  {% assign count = 0 %}
                  {% assign split = false %}
                  {% for link in linklists[link.handle].links %}
                    {% capture count %}{{ count }}*{% endcapture %}
                    <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
                    {% if linklists[link.handle] != empty %}
                      {% for link in linklists[link.handle].links %}
                        {% capture count %}{{ count }}*{% endcapture %}
                        <li>
                          <a class="sub-link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                        </li>
                      {% endfor %}
                    {% endif %}

                    {% if count.size > column_threshold and split == false %}
                      {% assign split = true %}
                      </ul>
                      <ul>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endcomment %}
    </div>
    <div class="omega four columns">
      <ul class="social_icons">
        {% if settings.social_icons_enabled %}
          {% if settings.twitter_link != '' %}
            <li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank" class="icon-twitter"></a></li>
          {% endif %}

          {% if settings.facebook_link != '' %}
            <li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank" class="icon-facebook"></a></li>
          {% endif %}

          {% if settings.google_link != '' %}
            <li><a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" rel="publisher" target="_blank" class="icon-google-plus"></a></li>
          {% endif %}

          {% if settings.youtube_link != '' %}
            <li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank" class="icon-youtube"></a></li>
          {% endif %}

          {% if settings.vimeo_link != '' %}
            <li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank" class="icon-vimeo-2"></a></li>
          {% endif %}

          {% if settings.pinterest_link != '' %}
            <li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank" class="icon-pinterest"></a></li>
          {% endif %}

          {% if settings.tumblr_link != '' %}
            <li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank" class="icon-tumblr"></a></li>
          {% endif %}

          {% if settings.linkedin_link != '' %}
            <li><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank" class="icon-linkedin"></a></li>
          {% endif %}

          {% if settings.flickr_link != '' %}
            <li><a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank" class="icon-flickr"></a></li>
          {% endif %}

          {% if settings.instagram_link != '' %}
            <li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank" class="icon-instagram"></a></li>
          {% endif %}

          {% if settings.email_link != '' %}
            <li><a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank" class="icon-mail"></a></li>
          {% endif %}
        {% endif %}
      </ul>
    </div>


    {% comment %}
    {% if shop.customer_accounts_enabled %}
      <li>
        <a href="/account" title="My Account {% if customer %}({{ customer.email }}){% endif %}" class="icon-user"></a>
      </li>
    {% endif %}
    {% if settings.search_enabled %}
      <li>
        <a href="/search" title="Search" class="icon-search" id="search-toggle"></a>
      </li>
    {% endif %}
    {% if settings.show_multiple_currencies %}
      <li>
        {% include 'currencies-switcher' %}
      </li>
    {% endif %}
    <li>
      <a href="#cart" class="icon-cart cart-button">{% if cart.item_count > 0 %}<div class="cart_count">{{ cart.item_count }}</div>{% endif %} <span>Cart</span></a>
    </li>
    {% endcomment %}
  </ul>
</div>
