{% if settings.slideshow_enabled %}
  {% include 'snippet-homepage--slideshow' %}
{% endif %}

{% if settings.homepage != blank %}
  </div>
{% endif %}

{% include 'snippet-svg_definitions' %}

{% include 'snippet-homepage--helping_hand' %}

{% include 'snippet-homepage--testimonials' %}

{% include 'snippet-homepage--products' %}

<div class="section-homepage--module_two_column">
  <div class="container content">
    {% include 'snippet-homepage--our_story' %}
    {% include 'snippet-homepage--shop_now' %}
  </div>
</div>

<!-- Press references -->
{% include 'snippet-homepage--featured_in' %}

<script>
// Define JavaScript for each page variation of this experiment.
// Note, without Javascript, placeholder images are loaded
// var pageVariations = [
//   function() {    // Original Hero and 1-2-1 model
//   document.getElementById('Hero1_H1').innerHTML = 'Perfect temperature, better sleep';
//     document.getElementById('Hero1_P').innerHTML = 'Little Lotus swaddles and sleeping bags use NASA inspired fabric to regulate your baby\’s temperature so they can sleep better';
//     document.getElementById('Hero1_Img').src = 'https://cdn.shopify.com/s/files/1/1039/4208/files/LL_AB_Hero_Mom.jpg?11843814886528925136';
//     document.getElementById('Hero1_Button').innerHTML = 'Shop now →';
//     document.getElementById('Hero2_H1').innerHTML = 'Help save a vulnerable baby';
//     document.getElementById('Hero2_P').innerHTML = 'Each purchase helps to save a baby in the developing world with the Embrace incubator';
//     document.getElementById('Hero2_Img').src = 'https://cdn.shopify.com/s/files/1/1039/4208/files/LL_AB_Hero_121.jpg?11843814886528925136';
//     document.getElementById('Hero2_Button').innerHTML = 'Learn more →';
//   },
//   function() {    // Variation 1: Hero Copy
//     document.getElementById('Hero1_H1').innerHTML = 'Perfect Temperature, Better Sleep';
//     document.getElementById('Hero1_P').innerHTML = 'Crafted from NASA Inspired Fabric to regulate your baby\'s temperature so they can sleep better';
//     document.getElementById('Hero1_Img').src = 'https://cdn.shopify.com/s/files/1/1039/4208/files/LL_New_Swaddle.jpg?12555944080764285304';
//     document.getElementById('Hero1_Button').innerHTML = 'Shop Swaddles →';
//     document.getElementById('Hero2_H1').innerHTML = 'New Designs! Comfort In All Seasons';
//     document.getElementById('Hero2_P').innerHTML = 'Easy Transition from swaddling for longer sleep all night';
//     document.getElementById('Hero2_Img').src = 'https://cdn.shopify.com/s/files/1/1039/4208/files/LL_New_Designs.jpg?6259678758836912850';
//     document.getElementById('Hero2_Button').innerHTML = 'Shop Sleeping Bags →';
//     // Redirect button clicks, change button width if needed
//     document.getElementById('Hero1_Button').style.width = "170px";
//     document.getElementById('Hero2_Button').style.width = "170px";
//     document.getElementById('Hero1_Href').href = "/products/swaddle";
//     document.getElementById('Hero2_Href').href = "/collections/swaddles-sleeping-bags";
//   },
//   function() {    // Variation 2: Original Hero and About page
//   document.getElementById('Hero1_H1').innerHTML = 'Perfect temperature, better sleep';
//     document.getElementById('Hero1_P').innerHTML = 'Little Lotus swaddles and sleeping bags use NASA inspired fabric to regulate your baby\’s temperature so they can sleep better';
//     document.getElementById('Hero1_Img').src = 'https://cdn.shopify.com/s/files/1/1039/4208/files/LL_AB_Hero_Mom.jpg?11843814886528925136';
//     document.getElementById('Hero1_Button').innerHTML = 'Learn more →';
//     document.getElementById('Hero2_H1').innerHTML = 'Help save a vulnerable baby';
//     document.getElementById('Hero2_P').innerHTML = 'Each purchase helps to save a baby in the developing world with the Embrace incubator';
//     document.getElementById('Hero2_Img').src = 'https://cdn.shopify.com/s/files/1/1039/4208/files/LL_AB_Hero_121.jpg?11843814886528925136';
//     document.getElementById('Hero2_Button').innerHTML = 'Learn more →';
//     document.getElementById('Hero1_Href').href = "/pages/technology";
//   }
// ];
//
// // Wait for the DOM to load, then execute the view for the chosen variation.
//  $(document).ready(
//   // Execute the chosen view
//   pageVariations[chosenVariation]
// );
</script>


{% if settings.blog_widget or settings.twitter_widget != blank %}
  <!-- Blog Widget -->
  <div class="section clearfix">
  {% if settings.blog_widget %}
    <div class="{% if settings.twitter_widget != blank %}eight{% else %}sixteen{% endif %} columns">
      <h4 class="title">
        <a href="{{ blogs[settings.blog_widget_select].url }}">{{ blogs[settings.blog_widget_select].title }}</a>
      </h4>

      {% for article in blogs[settings.blog_widget_select].articles limit: settings.home_page_articles %}
        <div class="section clearfix article">
          <h5 class="sub_title">
            <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
          </h5>
          <p class="meta"><span class="label">{{ article.published_at | date: "%B %d, %Y" }}</span></p>

          {% if article.excerpt != blank %}
            {{ article.excerpt }}
          {% else %}
            <p>
              {{ article.content | strip_html | truncatewords: 120 }} <a href="{{ article.url }}" title="{{ article.title | escape }}">Continue Reading &rarr;</a>
            </p>
          {% endif %}
        </div>
      {% endfor %}
      </div>
  {% endif %}

  {% if settings.twitter_widget != blank %}
    <div class="{% if settings.blog_widget %}eight{% else %}sixteen{% endif %} columns">
       <h4 class="title"><a href="https://twitter.com/{{ settings.twitter_username }}" target="_blank">Tweets</a></h4>
        <a class="twitter-timeline" href="https://twitter.com/{{ settings.twitter_username }}" data-widget-id="319998048782647298" data-tweet-limit="{{ settings.tweet_count }}" data-screen-name="{{ settings.twitter_username }}" data-chrome="noheader nofooter noborders transparent" data-link-color="{{ settings.link_color }}" data-heading-style="color:{{ settings.link_color }};font-size:{{ settings.regular_font_size }}px;{% if settings.regular_typeface_method == "google_webfonts" %}font-family: {{ settings.regular_google_webfont_font | replace: '+', ' ' }};{% else %}font-family: {{ settings.regular_websafe_font | replace: '+', ' ' }};{% endif %}"></a>
        <script defer>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  {% endif %}
</div>
{% endif %}

<!-- Insta Widget -->
{% if settings.instagram_widget %}
  <div class="section clearfix">
  <div class="sixteen columns">
    <h4 class="title">
      {% if settings.instagram_link != blank %}
        <a href="{{ settings.instagram_link }}" target="_blank">
      {% endif %}
      {{ settings.instagram_title }}
      {% if settings.instagram_link != blank %}
        </a>
      {% endif %}
    </h4>
  </div>

  <div id="instafeed" data-tag-name="{{ settings.instagram_tag_name }}" data-client-id="{{ settings.instagram_client_id }}" data-count="{{ settings.instagram_count }}">
    <em>Tag your Instagram photos with #{{ settings.instagram_tag_name }}</em>
  </div>
</div>
{% endif %}
